data
myenv
app.py
myscript.py

# NO .log y .txt en el root del proyecto
/*.log
/*.txt

# SI logs y .txt en la carpeta de logs.
!logs/*.log
!logs/*.txt

models\lightgbm_model.pkl
models\lightgbm_model_2.pkl
models\lightgbm_model_3.pkl

VERSION